body{
  background-color: rgb(131, 131, 131);
}

.container{
  padding: 3em;
  display:grid;
  grid-template-columns: 1fr;
  grid-gap: 4em;
}
.mat-card-title{
  font-size: 22px;
  font-weight: bolder;
}
.mat-card-content{
  font-size: 16px;
  font-weight: 300;
}
.mat-list-item{
  font-size: 10px;
}
.mat-card-subtitle{
  font-size: 18px;
  font-weight: 500;
  color: rgb(120,120,120);
}