<div>
  <div>
    <mat-card class="Card">
      <mat-card-title class="Card Title">
        Botão de Ajuda
      </mat-card-title>
      <mat-card-content class="Card Content">
        <div>
          <h3>Botão de Ajuda</h3>
          <p>Essa gamificação tem o intuito de fazer com que o usuário sempre que tenha dúvida sobre
            alguma funcionalidade ou sobre algum recurso que foi disponibilizado pela plataforma consiga
            através de um simples toque entender o que está sendo proposto.
          </p>
          <mat-card-subtitle>Arthur Santos Leandro</mat-card-subtitle>
          <span class="Space in justify-content-between" flex></span>
        </div>
        <span>
            <button mat-icon-button class="HelpButton">
              <mat-icon aria-label="Help Box Button">help</mat-icon>
            </button>
            <button mat-icon-button class="FavoriteButton">
              <mat-icon aria-label="Favorite Button">favorite</mat-icon>
            </button>
            <button mat-icon-button class="StarButton">
              <mat-icon aria-label="Star Rate Button">star_rate</mat-icon>
            </button>
        </span>
      </mat-card-content>
      <mat-divider class="Card Divider"></mat-divider>
    </mat-card>
  </div>
  <div>
    <br /><br />
    <mat-card class="Card">
      <mat-card-title class="Card Title">
        Tutorial
      </mat-card-title>
      <mat-card-content class="Card Content">

      </mat-card-content>
      <mat-divider class="Card Divider"></mat-divider>
    </mat-card>
  </div>
  <div>
    <br /><br />
    <mat-card class="Card">
      <mat-card-title class="Card Title">
        Customização
      </mat-card-title>
      <mat-card-content class="Card Content">

      </mat-card-content>
      <mat-divider class="Card Divider"></mat-divider>
    </mat-card>
  </div>
</div>
