<body>
  <header>
    <div class="header-content">
      <div class="header-intro">
        <h1 class="header-h1">Gamificação</h1>
        <h2 class="header-h2">Usando Angular Material</h2>
      </div>
    </div>
  </header>
  <div class='content'>
    <div class='intro'>
      <div class='intro-content'>
        <h6 class="header-h4">DEFINIÇÃO</h6>
        <div class='intro-wrapper'>
          <div class='intro-image'>
            a
          </div>
          <div class='intro-write'>
            <mat-list>
              <mat-list-item>Uso de elementos de jogos em atividades que não sejam jogos. </mat-list-item>
              <mat-list-item> Utilizado para auxiliar ou engajar um usuário.</mat-list-item>
              <mat-list-item> Causa um determinado comportamento em um usuário</mat-list-item>
            </mat-list>
          </div>
        </div>
      </div>
    </div>
    <br><br>
    <div class='flow-theory'>
      <div class='flow-theory-content'>
        <h6 class="header-h4">TEORIA DO FLOW</h6>
        <div class='flow-theory-wrapper'>
          <div class='flow-theory-write'>
            <mat-list>
              <mat-list-item>Desafio nas linhas verticas. </mat-list-item>
              <mat-list-item>Habilidade nas linhas horizontais.</mat-list-item>
            </mat-list>
          </div>
          <div class='flow-theory-image'>
            a
          </div>
        </div>
      </div>
    </div>
    <br><br>
    <div class='maslow-theory'>
      <div class='maslow-theory-content'>
        <h6 class="header-h4">PIRAMIDE DE MASLOW</h6>
        <div class='maslow-theory-wrapper'>
          <div class='maslow-theory-image'>
            a
          </div>
          <div class='maslow-theory-write'>
            <mat-list>
              <mat-list-item>Necessidades humanas categorizadas em uma piramide. </mat-list-item>
              <mat-list-item>Camadas mais elevadas representam necessidades de autorrealização.</mat-list-item>
            </mat-list>
          </div>
        </div>
      </div>
    </div>
    <br><br>
  </div>
  <footer class="footer-wrapper">
    <div class='footer-content'>
      <h1 class="footer-h1">Desenvolvedor: Arthur Santos Leandro</h1>
      <h2 class="footer-h2">Versão: 1.0</h2>
      <h4 class="footer-h4">Contato: arthur.leandro11@gmail.com</h4>
    </div>
  </footer>
</body>
