@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
  background-color: rgb(119, 119, 119);
}

.mat-card-title{
  text-align: center;
}

.mat-card-actions{
  display: flexbox;
}

.a{
  float: right;
}