<mat-toolbar class="Toolbar" color="primary">
  <!-- <h4>Gamificação</h4> -->
      <h4 >
        <a class="Logo">
          <button mat-button>
              Home
          </button>              
        </a>
      </h4>
      <h4 >
          <a>
            <button mat-button>
                Documentação
            </button>              
          </a>
        </h4>
      <h4>
        <a>
          <button mat-button>
              OnBoarding
          </button>
          
        </a>
      </h4>
      <h4>
        <a>
          <button mat-button>
            Medalhas
          </button>          
        </a>
      </h4>
      <h4>
        <a>
          <button mat-button>
            Pontuação 
          </button>          
        </a>
      </h4>
      <h4>
        <a>
          <button mat-button>
            Missões
          </button>          
        </a>
      </h4>
      <h4>
        <a>
          <button mat-button>
            Nível
          </button>          
        </a>
      </h4>
</mat-toolbar>
