<div class="HomeHeader">
  <mat-divider></mat-divider>
  <div class="AllCards">
    <mat-card class="CardContainer">
      <h2 class="CardTitle">On Boarding</h2>
      <p class="CardParagraph">On Boarding é todo um grupo de técnicas que têm um caráter introdutório e/ou customizável.</p>
      <div class="ButtonCenter">
        <button mat-raised-button matTooltip = "Saiba mais sobre esse card." matToolTipClass="ToolTipClass" (click)="OpenOnBoardingCard()">
          Saiba Mais 
        </button>
      </div>
    </mat-card>

    <mat-card class="CardContainer">
      <h2 class="CardTitle">Pontuação</h2>
      <p class="CardParagraph">É um conjunto de maneiras de se metrificar a experiência do usuário.</p>
      <div class="ButtonCenter">
        <button mat-raised-button matTooltip = "Saiba mais sobre esse card." matToolTipClass="ToolTipClass" (click)="OpenPontuacaoCard()">
          Saiba Mais
        </button>
      </div>
    </mat-card>

    <mat-card class="CardContainer">
      <h2 class="CardTitle">Nível</h2>
      <p class="CardParagraph">Faz uso extensivo dos pontos adquiridos pelo usuário para quantificar seu nível.</p>
      <div class="ButtonCenter">
        <button mat-raised-button matTooltip = "Saiba mais sobre esse card." matToolTipClass="ToolTipClass" (click)="OpenNivelCard()">
          Saiba Mais
        </button>
      </div>
    </mat-card>

    <mat-card class="CardContainer">
      <h2 class="CardTitle">Missões</h2>
      <p class="CardParagraph">É um sistema desenvolvido para que o usuário se mantenha engajado por mais tempo com a
        plataforma.
      </p>
      <div class="ButtonCenter">
        <button mat-raised-button matTooltip = "Saiba mais sobre esse card." matToolTipClass="ToolTipClass" (click)="OpenMissoesCard()"> -->
          Saiba Mais
        </button>
      </div>
    </mat-card>
  </div>

  <mat-card class="CardContainer">
    <h2 class="CardTitle">Medalhas</h2>
    <p class="CardParagraph">Sistema que recompensa o usuário por engajar com a plataformaEduca</p>
    <div class="ButtonCenter">
      <button mat-raised-button matTooltip = "Saiba mais sobre esse card." matToolTipClass="ToolTipClass" (click)="OpenMedalhasCard()">
          Saiba Mais
      </button>
    </div>
  </mat-card>

  <mat-card class="CardContainer">
    <h2 class="CardTitle">Referências</h2>
    <p class="CardParagraph">
      <a href="https://www.ted.com/talks/mihaly_csikszentmihalyi_on_flow?language=pt-br" target="_blank">
        Teoria do Flow<br/>
      </a>
      <a href="https://www.ted.com/talks/chip_conley_measuring_what_makes_life_worthwhile/transcript?language=pt-br" target="_blank">
        Piramide de Maslow<br/>
      </a>
      <a href="https://www.youtube.com/watch?v=v5Qjuegtiyc" target="_blank">
        Yukai-chou
      </a>
    </p>
    <div class="ButtonCenter">
      <button mat-raised-button matTooltip = "Saiba mais sobre esse card." matToolTipClass="ToolTipClass" (click)="OpenReferenciasCard()">
        Saiba Mais
      </button>
    </div>
    
  </mat-card>
  
</div>
