@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
  margin: 0px;
  padding: 0px;
  background-color: rgb(119, 119, 119);
}

.all-cards.container{
  padding: 4em;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2em;
}

.mat-card-title{
  text-align: center;
}

.mat-card-actions{
  display: flexbox;
}
.a{
  float: right;
}