<div class='manual-content-viewer'>
  <div class='content-wrapper'>
    <div id='content' class="content-box-controller">
      <div class='content-header'>
        <h3>Visão Geral</h3>
      </div>
      <div class='paragraph-content'>
        <p>
          Something Should be wrotten in here.
        </p>
      </div>
    </div>
    <div class='visual-aide content'>
      <mat-card class="visual-helper">
        <mat-card-header class="visual-helper-header">
          <div class='mat-card-header-contents'>
            <h6>Tabela de Rankings</h6>
          </div>
        </mat-card-header>
        <mat-card-actions>
        </mat-card-actions>
        <mat-card-content class="visual-helper-content">
          <mat-tab-group>
            <mat-tab label="Professores">
              <app-ranking-professors></app-ranking-professors>
            </mat-tab>
            <mat-tab label="Atividades">
              <app-ranking-activity></app-ranking-activity>
            </mat-tab>
            <mat-tab label="Recursos Pedagógicos">
              <app-ranking-resources></app-ranking-resources>
            </mat-tab>
            <mat-tab label="Planos de Aula">
              <app-ranking-lecture-plan></app-ranking-lecture-plan>
            </mat-tab>
            <mat-tab label="Planos de Ensino">
              <app-ranking-teaching-method></app-ranking-teaching-method>
            </mat-tab>
          </mat-tab-group>
        </mat-card-content>
      </mat-card>
    </div>
    <div id='content' class="content-box-controller">
      <div class='content-header'>
        <h3>Ranking</h3>
      </div>
      <div class='paragraph-content'>
        <p>
          Something Should be wrotten in here.
        </p>
      </div>
    </div>
    <div id='content' class="content-box-controller">
      <div class='content-header'>
        <h3>Sumário</h3>
      </div>
      <div class='paragraph-content'>
        <p>
          Something Should be wrotten in here.
        </p>
      </div>
    </div>
    <div id='content' class="content-box-controller">
      <div class='content-header'>
        <h3>Como Usar</h3>
      </div>
      <div class='paragraph-content'>
        <p>
          Something Should be wrotten in here.
        </p>
      </div>
    </div>
    <div id='content' class="content-box-controller">
      <div class='content-header'>
        <h3>API</h3>
      </div>
      <div class='paragraph-content'>
        <table mat-table [dataSource]="GetDataSource()">
          <ng-container matColumnDef="methods">
            <th mat-header-cell *matHeaderCellDef> Métodos </th>
            <td mat-cell *matCellDef="let element"> {{element.methods}} </td>
          </ng-container>
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Descrição </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
          </ng-container>
          <ng-container matColumnDef="params">
            <th mat-header-cell *matHeaderCellDef> Parâmetros </th>
            <td mat-cell *matCellDef="let element"> {{element.params}} </td>
          </ng-container>
          <ng-container matColumnDef="returns">
            <th mat-header-cell *matHeaderCellDef> Retorno </th>
            <td mat-cell *matCellDef="let element"> {{element.returns}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="GetColumns()"></tr>
          <tr mat-row *matRowDef="let row; columns: GetColumns();"></tr>
        </table>
      </div>
    </div>
  </div>
</div>
